$black: #000000;
$white: #ffffff;
$accent: #0062ff;

$dark: #272522;
$charcoal: #202326;
$light: #1a1a1a;
$background: #ededed;
$underline: #dcdcdc;
$stroke: #d8d8d8;
$cite: #656565;
$placeholder: #777777;
$input: #222222;
$focus: #7f7f7f;
$controls: #cccccc;
$star: #ffb400;
$range: #f2f2f2;
