$arial: "Arial", "Open Sans", sans-serif;
$consolas: "Consolas", "Open Sans", sans-serif;
$opensans: "Open Sans", "Arial", sans-serif;
$helvetica: "Helvetica", "Open Sans", sans-serif;

$mobile: 320px;
$desktop: 830px;
$extra: 2dppx;

$ease: 0.2s ease-in-out;
