.body {
  @include font();
  @include fields();
  position: relative;
  min-width: $mobile;
  margin: 0 auto;
  font-family: $opensans;
  background-color: $white;
  color: $dark;
  overflow-x: hidden;

  @media (min-width: $desktop) {

  }
}

img {
  max-width: 100%;
  height: auto;
}

.body,
*,
*::before,
*::after {
  box-sizing: border-box;
}
