.header {
  margin-top: 100px;
  margin-bottom: 48px;

  @media (max-width: $desktop) {
    margin-top: 40px;
    margin-bottom: 48px;
  }
}

.header__wrapper {
  @include desktop();
  border-bottom: 2px solid $underline;

  @media (max-width: $desktop) {
    @include mobile();
    display: flex;
    flex-direction: column;
    border-bottom: none;
    overflow: hidden;
  }
}

.header__title {
  @include fields();
  @include font(48px, 48px, 700);
  position: relative;
  font-family: $consolas;
  margin-bottom: 55px;
  text-align: center;
  color: $accent;

  &::before,
  &::after {
    position: absolute;
    content: "";
    height: 2px;
    width: 130px;
    top: 70%;
    left: 0;
    background-color: $stroke;

    @media (max-width: $desktop) {
      width: 30px;
    }
  }

  &::after {
    right: 0;
    left: auto;
  }

  @media (max-width: $desktop) {
    @include font(23px, 25px, 700);
    margin-bottom: 43px;
  }
}

.header__img {
  margin-bottom: 14px;

  @media (max-width: $desktop) {
    max-width: 770px;
    overflow: hidden;
    order: 2;
    margin-bottom: 19px;
  }
}

.header__triangle {
  position: relative;
  order: 1;

  &::before {
    position: absolute;
    content: "";
    width: 40px;
    height: 17px;
    left: 100px;
    bottom: 18px;
    background-image: url("../img/triangle.svg");
    background-repeat: no-repeat;
    
    @media (max-width: $desktop) {
      display: none;
    }
  }
}

.header__text {
  @include fields();
  @include font(14px, 18px, 400);
  margin-bottom: 48px;
  font-family: $arial;
  color: $charcoal;
  font-style: italic;

  @media (max-width: $desktop) {
    @include font(14px, 18px, 400);
    margin-bottom: 25px;
    order: 1;
  }
}

.header__range {
  display: none;

  @media (max-width: $desktop) {
    @include fields();
    display: block;
    appearance: none;
    width: 100%;
    height: 2px;
    background-color: $range;
    border-radius: 2px;
    outline: none;
    order: 2;

    &::-webkit-slider-thumb {
      appearance: none;
      height: 3px;
      width: 70px;
      background-color: $accent;
      border-radius: 3px;
    }
  }
}
